<h3>French Pastries</h3>
<div class="row">
  <% @products.unboxable.each do |product| %>
      <div class="col-xs-6 col-md-3 shop_product">
        <%= link_to product, class: "thumbnail item-preview text-center" do %>
          <%= image_tag product.picture %>
          <%= product.name %>
        <% end %>
      </div>
  <% end %>
</div>

