<h3>Orders</h3>
<table class="table">
    <tr>
      <th>Status</th>
      <th>Purchased at</th>
      <th>Amout</th>
      <th>Transaction ID</th>
    </tr>
  <% @orders.each do |order| %>
    <tr>
      <td><%= order.status %></td>
      <td><%= order.purchased_at %></td>
      <td><%= number_to_currency order.amount %></td>
      <td><%= order.transaction_id %></td>

    </tr>
  <% end %>
</table>

