<ul>
  <% @user_box.products.each do |p| %>
    <li>
    <%= p.name %>
    </li>
  <% end %>
</ul>

<% if @user_box.full? %>
  <p class='text-success'><%= link_to 'Add to cart',add_box_cart_index_path(@user_box), method: :post %></p>
<% end %>
