// Style valable sur l'ensemble du site

body{
  padding-top: 120px;
}


.buffer-top{
  margin-top: 20px;
}


.carousel slide{
  width: 100px;

}

h3{
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 10px;
  margin-top: -10px;
  color: #D2527F;
}
