<div>
    <footer>
    <%= image_tag("logobig.png") %>
      <br/>
      480-404-6378
      <br/>
     parisrendezvous.az@gmail.com</p>

      <p class='copyright'>© 2015 Paris Rendez-Vous</p>
      <%= link_to "Admin", admin_index_path  %>

    </footer>
</div>
